@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
@import "icons.css";

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    outline: none;
    background: none;
    border:none;
}
body{
    background: url("../img/first_bg.webp") no-repeat center top/100%, url("../img/second_bg.webp") no-repeat center center/100%, url("../img/third_bg.webp") no-repeat center bottom/100%;
    background-color: rgba(101, 104, 115, 1);
}
a{
    transition: 0.2s;
}
a:hover{
    cursor: pointer;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.header{
    background: rgba(30, 33, 47, 0.7);
    mix-blend-mode: normal;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: 0.2s;
}
.header--hidden{
    transform: translateY(-48px);
}
.header__wrap{
    display: flex;
    flex-direction: column;
    gap: 13px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}
.header__wrap-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nav{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header--city{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header__nav-city{
    font-size: 14px;
    color: white;
    border-bottom: 1px dotted white;
}
.header__nav-city:hover{
    color: #FB9529;
    border-bottom: 1px dotted #FB9529;
}
.header__nav > .header__nav-item:first-child{
    display: none;
}
.header__nav-item{
    font-size: 14px;
    line-height: 16px;
    color: white;
}
.header__nav-item:hover{
    color: #FB9529;
}
.header__social{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__social-left{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__social-link{
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background: #FB9529;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__social-link:nth-child(3){
    background: none;
    border-radius: unset;
}
.header__social-link:nth-child(3):hover{
    background: none;
}
.header__social-link:hover{
    background: white;
}
.header__social-link:hover > .header__social-link--icon{
    color: #FB9529;
}
.header__social-link--icon{
    font-size: 16px;
    color: white;
    height: 16px;
}
.header__social-link--whatsapp{
    width: 24px;
    height: 24px;
    z-index: 10;
    transition: 0.2s;
}
.header__social-link--whatsapp:hover.header__social-link--whatsapp path:first-child{
    fill: white;
}
.header__social-link--whatsapp:hover.header__social-link--whatsapp path:last-child{
    fill: #FB9529;
}
.header__social-link--whatsapp path:first-child{
    fill: #FB9529;
    transition: 0.2s;
}
.header__social-link--whatsapp path:last-child{
    fill: white;
    transition: 0.2s;
}
.header__social-link--icon path{
    fill: white;
    transition: 0.2s;
}
.header--contest{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header--contest:last-child{
    align-items: normal;
}
.phone{
    font-size: 16px;
    font-weight: 700;
}
.header__social-phone--icon{
    font-size: 16px;
    height: 16px;
    color: #FB9529;
}
.header__wrap-bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
.header__logo{
    height: 67px;
}
.header__logo:hover{
    background: rgba(77, 79, 90, 0.46);
}
.header__logo-image{
    width: 300px;
}
.header__search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.header__search-input{
    background: white;
    width: inherit;
    line-height: 16px;
    padding: 12px 50px;
}
.header__search-icon{
    position: absolute;
    left: 13px;
    width: 25px;
    transform: rotate(-45deg);
}
.header__buttons{
    display: flex;
    align-items: center;
    gap: 0;
}
.header__buttons-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 77px;
    height: 67px;
    padding: 2px 0;
    justify-content: center;
    transition: 0.2s;
    position: relative;
}
.header__buttons-item--drop{
    padding: 6px 0;
}
.cart--item{
    position: absolute;
    top: 3px;
    right: 5px;
    background: #FB9529;
    border-radius: 100px;
    padding: 4px 2px;
}
.header__buttons-item:hover{
    background: rgba(77, 79, 90, 0.46);
    mix-blend-mode: normal;
    cursor: pointer;
}
.header__buttons-item--icon{
    font-size: 35px;
    height: 40px;
    color: white;
}
.header__buttons-item--image{
    width: 35px;
    height: 40px;
}
.header__buttons-item--text{
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: white;
}
.wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
    max-width: 1440px;
    margin: 155px auto 0 auto;
}
.catalog{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}
.catalog__item{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 268px;
    width: 268px;
    line-height: 16px;
    color: black;
    padding: 15px 16px;
    position: relative;
}
.catalog__item-active{
    background: #FB9529;
    width: calc(100% + 10px);
}
.catalog--flex{
    position: relative;
}
.catalog__item-open{
    flex-direction: column;
    gap: 30px;
    width: 600px;
    display: flex;
    transition: 0.2s;
    align-items: flex-start;
}
.catalog--toggle{
    top: -16px;
    display: none;
    background: white;
    position: absolute;
    padding: 35px;
    transform: translateX(310px);
    z-index: 1;
}
.open__item{
    font-size: 16px;
    font-weight: 700;
    line-height: 12px;
    color: black;
}
.open__pseudo-item{
    color: #716B69;
    font-size: 14px;
}
.open__pseudo-item:hover{
    text-decoration: underline;
}
.open__item:hover{
    text-decoration: underline;
}
.open__pseudo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: -15px;
}
.catalog__item-text{
    padding-left: 16px;
}
.catalog__item-text:before{
    content: '';
    background: url("../img/mark.svg") no-repeat center/100%;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 5px;
    height: 9px;
}
.catalog__item:hover{
    background: #FB9529;
    cursor: pointer;
}
.catalog__item-arrow{
    width: 5px;
    fill: #FB9529;
}
.burger{
    display: none;
}
.mobile__search{
    display: none;
}
.mobile__bot{
    display: none;
}
.products{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: calc(100% - 325px);
}
.slider--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    gap: 10px;
    min-width: 0;
}
.products__slider-image{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.products__slider-main{
    font-size: 45px;
    font-weight: 800;
    line-height: 48px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}
.products__slider-address{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}
.products__slider-desc{
    line-height: 20px;
    color: white;
    text-align: center;
}
.products__field{
    background: white;
    width: calc(100% - 54px);
    padding: 40px 27px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.products__field-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
.products__field-items{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px;
    flex-wrap: wrap;
}
.products__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 218px;
    transition: 0.2s;
    padding: 10px;
    position: relative;
}
.products__item:hover{
    box-shadow: 0 0 15px rgba(0, 0, 1, 0.15);
}
.products__item-image{
    height: 150px;
}
.products__item-full{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.products__item-name{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    max-width: 276px;
    text-align: center;
    color: black;
}
.products__item-info{
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
}
.products__item-info--item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.info__item-set{
    font-size: 14px;
    line-height: 20px;
    color: rgba(91, 93, 106, 1);
}
.info__item-value{
    font-size: 14px;
    line-height: 20px;
    color: black;
}
.products__item-col{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.products__item-col--status{
    font-size: 14px;
    line-height: 20px;
    color: rgba(47, 133, 17, 1);
    position: relative;
}
.status--ok:before{
    content: '\6a';
    font-size: 14px;
    left: 0;
    margin-right: 5px;
    font-family: enginer;
    vertical-align: -2px;
}
.products__item-col--change{
    display: flex;
    align-items: flex-end;
    gap: 15px;
    flex-direction: column;
}
.col__change-number{
    position: relative;
    max-width: 25px;
    text-align: center;
}
.col__change-number::-webkit-outer-spin-button,
.col__change-number::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}
.col__change-minus, .col__change-plus{
    width: 10px;
    transition: 0.2s;
}
.col__change-minus:hover, .col__change-plus:hover{
    opacity: 0.5;
    cursor: pointer;
}
.products__item-price{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    width: 100%;
    text-align: right;
    margin-bottom: 30px;
}
.products__item-buttons{
    display: flex;
    align-items: center;
    gap: 8px;
}
.product--link{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.products__item-buttons--buy{
    background: linear-gradient(90deg, #FC8916 0%, #FDA736 100%), #FC8916;
    padding: 12px 0;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}
.products__item-buttons--buy:hover{
    background: linear-gradient(180deg, #FC8916 0%, #FDA736 100%), #FC8916;
    cursor: pointer;
}
.products__item-buttons--click{
    border: 2px solid rgba(226, 228, 240, 1);
    padding: 10px 19px;
    color: rgba(141, 144, 164, 1);
    font-weight: 700;
}
.products__item-buttons--click:hover{
    border:2px solid #FB9529;
    color: #FB9529;
    cursor: pointer;
}
.products__info{
    display: flex;
    align-items: center;
    gap: 70px;
    background: white;
    width: calc(100% - 135px);
    padding: 33px 90px 33px 45px;
}
.products__info-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 650px;
}
.products__info-text--title{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #FC8916;
}
.products__info-text--desc{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: black;
}
.products__pluses{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: calc(100% - 90px);
    padding: 33px 45px;
}
.products__pluses-text{
    max-width: unset;
}
.products__pluses-items{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.pluses__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.pluses__item-image{
    height: 83px;
}
.pluses__item-text{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    max-width: 15ch;
}
.footer{
    background: #0B0F1B;
    padding: 62px 0;
    border-top: 2px solid #484B54;
    margin-top: 125px;
}
.footer--wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    max-width: 1440px;
    margin: 0 auto;
}
.footer__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.footer__logo-image{
    width: 300px;
}
.footer__logo-link:hover{
    background: rgba(77, 79, 90, 0.46);
}
.footer__logo-text{
    font-size: 16px;
    line-height: 20px;
    color: white;
}
.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: calc(100% - 500px)
}
.footer__nav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #484B54;
    padding: 0 15px 35px 15px;
    flex-wrap: wrap;
    gap: 20px;
}
.footer__icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer__icons-item{
    background: #FB9529;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    color: inherit;
    height: 32px;
}
.footer__icons-whatsapp{
    width: 32px;
    height: 32px;
    border-radius: 50px;
}
.footer__icons-whatsapp:hover{
    outline: 1px solid #FB9529;
}
.footer__icons-whatsapp:hover > .footer__icons-whatsapp--icon path:first-child{
    fill: none;
}
.footer__icons-whatsapp:hover > .footer__icons-whatsapp--icon path:last-child{
    fill: #FB9529;
}
.footer__icons-whatsapp--icon{
    transition: 0.2s;
}
.footer__icons-whatsapp--icon path:first-child{
    fill: #FB9529;
    transition: 0.2s;
}
.footer__icons-whatsapp--icon path:last-child{
    transition: 0.2s;
}
.footer__icons-item:hover{
    background: none;
    outline: 1px solid #FB9529;
    color: #FB9529;
}
.footer__icons-item--icon{
    font-size: 20px;
    height: 20px;
}
.footer__phone{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__phone-icon{
    color: #FB9529;
    font-size: 25px;
    height: 25px;
}
.footer__phone-number{
    font-size: 31px;
    font-weight: 700;
    line-height: 33px;
    color: white;
}
.footer__phone-number:hover{
    color: #FB9529;
}
.footer__nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 0 15px;
    flex-wrap: wrap;
}
.footer__nav-menu--item{
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: white;
}
.footer__nav-menu--item:hover{
    color: #FB9529;
}
.abs__image-left{
    position: absolute;
    z-index: -1;
    top: 550px;
    left: 0;
}
.abs__image-right{
    position: absolute;
    z-index: -1;
    right: 0;
    top: 100%;
}
.products__item-status{
    font-size: 12px;
    font-weight: 700;
    color: white;
    padding: 5px 11px;
    border-radius: 20px;
    position: absolute;
    top: 13px;
    left: 13px;
}
.top{
    background: #FE7902;
}
.new{
    background: #6FB828;
}
.action{
    background: #F63F3F;
}
.crumbs{
    display: flex;
    align-items: center;
    gap: 5px;
}
.crumbs__item, .crumbs__slash{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: white;
}
.crumbs__current{
    font-weight: 700;
}
.crumbs__item:hover{
    color: #FB9529;
}
.products__main{
    font-size: 35px;
    font-weight: 700;
    color: white;
}
.products__cat{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    flex-wrap: wrap;
}
.products__cat-item{
    width: 165px;
    height: 97px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.products__cat-item:hover{
    background: #FB9529;
    cursor: pointer;
}
.products__cat-item:hover > .products__cat-item--text {
    color: white;
}
.products__cat-item--text{
    font-size: 14px;
    font-weight: 700;
    color: black;
    text-align: center;
    max-width: 120px;
}
.products__filter{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.products__filter-visible{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.filter__range{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    width: 100%;
}
.filter__range-label{
    display: flex;
    align-items: center;
    gap: 0;
    margin-top: 5px;
}
.filter__range-input{
    border: 1px solid #D4D4D4;
    padding: 13px 15px 11px 15px;
    font-size: 14px;
    line-height: 16px;
    color: #5B5D6A;
    width: 100%;
    box-sizing: border-box;
}
.range--max{
    border-left: none;
    border-bottom: none;
}
.range--min{
    border-bottom: none;
}
.filter__select{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
}
.filter__select-field--arrow{
    font-size: 10px;
    height: 6px;
    transition: 0.2s;
}
.filter__select-preview{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
.filter__select-field{
    background: #FFFFFF;
    outline: 1px solid #D4D4D4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 15px 13px 15px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.2s;
}
.filter__select-field:hover{
    cursor: pointer;
    outline: 1px solid #FB9529;
}
.filter__select-field--title{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #5B5D6A;
}
.filter__select-field--value{
    color: black;
}
.filter__submit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 87px;
    height: 43px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: white;
    background: linear-gradient(90deg, #FC8916 0%, #FDA736 100%), #FB9529;
    transition: 0.2s;
}
.filter__submit:hover{
    background: linear-gradient(180deg, #FC8916 0%, #FDA736 100%), #FB9529;
    cursor: pointer;
}
.filter__submit-value{
    font-weight: 400;
    background: #DB7D19;
    width: 26px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.filter__drop{
    font-size: 14px;
    line-height: 16px;
    color: white;
    background: #646672;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 71px;
    height: 43px;
    transition: 0.2s;
}
.filter__drop:hover{
    outline: 1px solid #646672;
    background: none;
    color: #646672;
    cursor: pointer;
}
.products__filter-show{
    font-size: 14px;
    line-height: 16px;
    color: #5B5D6A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 217px;
    height: 43px;
    outline: 1px solid #5B5D6A;
}
.products__filter-show:hover{
    cursor: pointer;
    background: #5B5D6A;
    color: white;
}
.products__filter-hidden{
    display: none;
}
.hidden__area{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.visible__area{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}
.visible__area-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.visible__area-field{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}
.hidden__area-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.visible__column{
    flex-direction: column;
    align-items: normal;
    gap: 25px;
}
.products__filter-show--value{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: white;
    background: #646672;
    border-radius: 10px;
    width: 26px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter__buttons{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}
.mobile__phone-link{
    display: none;
}
#product--modal{
    display: none;
    width: 100%;
}
.product--modal--close{
    position: absolute;
    right: 35px;
    top: 25px;
}
.product--modal--close span:first-child{
    content: '';
    background: #FB9529;
    width: 25px;
    height: 4px;
    position: absolute;
    transform: rotate(45deg);
}
.product--modal--close span:last-child{
    content: '';
    background: #FB9529;
    width: 25px;
    height: 4px;
    position: absolute;
    transform: rotate(-45deg);
}
.product__click{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.product__click-title{
    font-size: 30px;
    font-weight: 600;
    line-height: 26px;
    color: black;
    text-align: center;
    margin: 20px 0;
}
.product__click-top{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.product__click-top--input{
    background: #FFFFFF;
    outline: 1px solid #D4D4D4;
    padding: 14px 15px 13px 15px;
    width: calc(100% - 30px);
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #5B5D6A;
    resize: none;
}
.product__click-button{
    font-size: 20px;
    background: linear-gradient(90deg, #FC8916 0%, #FDA736 100%), #FC8916;
    padding: 12px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    margin-top: 20px;
}
.product__click-button:hover{
    cursor: pointer;
    background: linear-gradient(180deg, #FC8916 0%, #FDA736 100%), #FC8916;
}
.product__click-item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
}
.product__click-item--image{
    width: 250px;
}
.products__click-item--name{
    margin-bottom: 100px;
    font-size: 20px;
    max-width: 80%;
    text-align: left;
}
.product__click-item--info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.product__click-item--price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.price__col-thin{
    font-weight: 700;
}
.click__price-col, .click__price-value{
    font-size: 20px;
}
.products__field-sort{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products__field-sort--buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sort__buttons-block, .sort__buttons-list{
    outline: 1px solid #D4D4D4;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
    max-width: 23px;
    padding: 10px;
    transition: 0.2s;
}
.sort__buttons-list--left{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}
.sort__buttons-list--right{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.sort__buttons-list--right span{
    width: 10px;
    height: 2px;
    background: #F0F0FA;
    position: relative;
    margin-top: -5px;
}
.sort__buttons-list--right span:after{
    content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    background: #F0F0FA;
    top: 3px;
}
.sort__buttons-active{
    background: #FB9529;
    outline: none;
}
.sort__buttons-block:hover, .sort__buttons-list:hover{
    outline: none;
    background: #FB9529;
    cursor: pointer;
}
.sort__buttons-block:hover > span, .sort__buttons-list:hover > .sort__buttons-list--left span{
    background: white;
}
.sort__buttons-block > span, .sort__buttons-list--left span{
    background: #676A76;
    width: 10px;
    height: 10px;
}
.sort__buttons-active > span, .sort__buttons-active > .sort__buttons-list--left > span{
    background: white;
}
.products__field-sort--input{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sort__input-text{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
.sort__input-field{
    outline: 1px solid #D4D4D4;
    padding: 13px 15px 14px 15px;
    box-sizing: border-box;
    width: 284px;
    height: 43px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    transition: 0.2s;
}
.sort__input-field:hover{
    cursor: pointer;
    outline: 1px solid #FB9529;
}
.sort--flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.sort__input-filed--text, .sort__hidden-item{
    font-size: 14px;
    line-height: 16px;
    color: #5B5D6A;
    transition: 0.2s;
}
.sort__hidden-item:hover{
    color: #FB9529;
    cursor: pointer;
}
.sort__input-field--arrow{
    font-size: 10px;
    height: 6px;
    transition: 0.2s;
}
.sort__hidden{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sort__hidden:hover{
    cursor: default;
}
.select--active{
    outline: 1px solid #FB9529;
}
.sort--toggle{
    display: none;
    outline: 1px solid #D4D4D4;
    box-sizing: border-box;
    padding: 13px 15px 14px 15px;
    background: white;
    width: 284px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 50px;
    box-shadow: 0 1px 5px rgba(0, 0, 1, 0.85);
}
.arrow--active{
    transform: rotate(180deg);
}
.filter__select-toggle{
    display: none;
    outline: 1px solid #D4D4D4;
    box-sizing: border-box;
    padding: 13px 15px 14px 15px;
    background: white;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 70px;
    box-shadow: 0 1px 5px rgba(0, 0, 1, 0.85);
}
.select__toggle-area--item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.toggle__search{
    background: #EFF0F4;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 20px;
}
.toggle__search::placeholder{
    color: #5B5D6A;
}
.toggle__checks{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.toggle__check-item--label{
    font-size: 14px;
    line-height: 16px;
    color: #5B5D6A;
}
.toggle--checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.toggle--checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.toggle--checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #D4D4D4;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.toggle--checkbox:checked+label::before {
    border-color: #FB9529;
    background-color: #FB9529;
    background-size: 65%;
    background-position: center center;
    background-image: url("../img/check-svgrepo-com.svg");
}
.toggle--checkbox:checked + label{
    color: black;
}
/* стили при наведении курсора на checkbox */
.toggle--checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #FB9529;
    cursor: pointer;
}
label{
    transition: 0.2s;
}
label:hover{
    color: #FB9529;
    cursor: pointer;
}
.products__item-line{
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #D4D4D4;
    justify-content: space-between;
    box-sizing: border-box;
}
.products__item-line:first-child{
    border-top: 1px solid #D4D4D4;
}
.products__field-items--line{
    flex-direction: column;
    gap: 0;
}
.products__list{
    width: 100%;
}
.products__item-full--list{
    flex-direction: row;
    gap: 100px;
}
.products__image-field--line{
    width: 177px;
    height: 177px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 177px;
}
.products__item-name--line{
    max-width: 450px;
    text-align: left;
}
.product--link--line{
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
}
.products__bots-line{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}
.col__price{
    display: flex;
    align-items: center;
    gap: 0;
}
.col__price-line{
    gap: 10px;
}
.products__item-col--status--line{
    position: absolute;
    top: 24px;
    right: 10px;
}
.products__item-col--change{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}
.products__item-col--change--line{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.products__item-price--line{
    margin-bottom: 0;
}
.product--cart--active{
    background: linear-gradient(90deg, #5AB752 0%, #249F53 46.35%, #31C27C 100%);
}
.product--cart--active:hover{
    background: linear-gradient(90deg, #5AB752 0%, #249F53 46.35%, #31C27C 100%);
}
.card{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.card__field{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 45px;
    box-sizing: border-box;
    padding: 30px 26px;
    margin-top: 35px;
}
.card__field-title{
    font-size: 35px;
    font-weight: 700;
    line-height: 44px;
}
.card__field-product{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}
.card__field-product--images{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card__main{
    width: 499px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__main-image{
    width: inherit;
}
.card__pseudo{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}
.card__pseudo-icon{
    width: 50px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EDEDEE;
}
.card__pseudo-icon:hover{
    background: #FB9529;
    cursor: pointer;
}
.card__pseudo-icon:hover > .card__pseudo-left, .card__pseudo-icon:hover > .card__pseudo-right{
    color: white;
}
.card__pseudo-left, .card__pseudo-right{
    font-size: 29px;
    height: 29px;
    color: #8D90A4;
}
.card__pseudo-right{
    transform: rotate(180deg);
}
.card__pseudo-images{
    display: flex;
    align-items: center;
    gap: 8px;
}
.card__pseudo-images--item{
    width: 70px;
    height: 70px;
}
.card__field-product--info{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.card__options{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.card__options-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card__options-item--name{
    font-size: 14px;
    line-height: 20px;
    color: #5B5D6A;
}
.card__options-item--value{
    font-size: 14px;
    line-height: 20px;
}
.card__buy{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card__buy-col{
    display: flex;
    align-items: center;
    gap: 22px;
}
.card__buy-col--price{
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
}
.card__buy-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
}
.card__buy-buttons_buy{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    background: linear-gradient(90deg, #FC8916 0%, #FDA736 100%), #FC8916;
    color: white;
    width: 147px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__buy-buttons_buy:hover{
    cursor: pointer;
    background: linear-gradient(180deg, #FC8916 0%, #FDA736 100%), #FC8916;
}
.card__buy-buttons_click{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    width: 208px;
    height: 47px;
    color: #8D90A4;
    outline: 2px solid #E2E4F0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__buy-buttons_click:hover{
    outline: 2px solid #FB9529;
    color: #FB9529;
    cursor: pointer;
}
.card__firm{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card__buy-col--value{
    gap: 50px;
}
.card__plus{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #EDEDEE;
    padding: 35px;
}
.card__plus-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.card__plus-item--icon{
    height: 28px;
}
.card__plus-item--text{
    font-size: 14px;
    line-height: 20px;
}
.card__desc{

}
.card__desc-tabs{
    display: flex;
    align-items: center;
    gap: 0;
    justify-content: space-between;
    box-sizing: border-box;
}
.card__desc-tabs--item{
    font-size: 18px;
    line-height: 24px;
    background: #EDEDEF;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs--active{
    background: white;
}
.card__desc-field{
    background: white;
    padding: 30px 26px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.card__desc-field--item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.field__main{
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}
.field__grid{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.field__grid-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.field__grid-item:nth-child(2n + 1){
    background: #EDEDEF;
}
.field__grid-item--name{
    font-size: 14px;
    line-height: 20px;
    padding-left: 15px;
}
.field__grid-item--value{
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    width: 50%;
    border-left: 1px solid #DEDEE2;
    padding-left: 15px;
}
.card__buys{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 26px;
    background: white;
}
.card__buys-title{
    font-size: 24px;
    font-weight: 700;
}
.card__buys-products{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.cart{
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box;
    width: 100%;
}
.cart__title{
    font-size: 35px;
    font-weight: 700;
    line-height: 44px;
    color: white;
    margin-bottom: 25px;
}
.cart__products{
    background: white;
    padding: 26px;
    position: relative;
}
.cart__products-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-top: 1px solid #D4D4D4;
    padding: 20px 0;
}
.cart__products-item:last-child{
    border-bottom: 1px solid #D4D4D4;
}
.cart__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart__link-image{
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}
.cart__link-image--product{
    min-height: 150px;
    max-height: 150px;
    height: 150px;
}
.cart__link-info{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.cart__link-info--title{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}
.cart__link-info--desc{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.desc__chars{
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 70%;
}
.desc__chars-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desc__chars-item--name{
    font-size: 14px;
    line-height: 20px;
    color: #5B5D6A;
}
.desc__chars-item--value{
    font-size: 14px;
    line-height: 20px;
    color: black;
}
.desc__price{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}
.cart__link-change{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
}
.cart__link-change--close{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background: #FFA0A0;
    position: relative;
    margin-bottom: 32px;
    transition: 0.2s;
    outline: 1px solid #FFA0A0;
}
.cart__link-change--close span:first-child{
    background: white;
    position: absolute;
    width: 12px;
    height: 3px;
    transform: rotate(45deg);
}
.cart__link-change--close span:last-child{
    background: white;
    position: absolute;
    width: 12px;
    height: 3px;
    transform: rotate(-45deg);
}
.cart__link-change--close:hover{
    background: none;
    cursor: pointer;
}
.cart__link-change--close:hover > span{
    background: #FFA0A0;
}
.full--price{
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
}
.cart__link-change--col{
    display: flex;
    align-items: flex-end;
    gap: 30px;
    margin-top: -5px;
}
.cart__price{
    gap: 15px;
}
.cart__clear{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 15px;
    background: #FB9529;
    top: -26px;
    right: 0;
    transition: 0.2s;
    padding: 5px 20px;
}
.cart__clear:hover{
    cursor: pointer;
    background: white;
}
.cart__clear:hover > .cart__clear-text{
    color: #FB9529;
}
.cart__clear:hover > .cart__clear-close > .cart__clear-close--peace{
    background: #FB9529;
}
.cart__clear-close{
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.cart__clear-close > div:first-child{
    transform: rotate(45deg);
}
.cart__clear-close > div:last-child{
    transform: rotate(-45deg);
}
.cart__clear-close--peace{
    position: absolute;
    width: 15px;
    height: 3px;
    background: white;
    transition: 0.2s;
}
.cart__clear-text{
    font-size: 14px;
    line-height: 16px;
    transition: 0.2s;
    color: white;
}
.cart__form{
    background: white;
    padding: 45px 26px;
}
.cart__form-field{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.form__item{
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.form__item-name{
    font-size: 25px;
    font-weight: 700;
}
.form__item-inputs{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.form__item-inputs--item{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}
.input__item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.input__item-name{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
.input__item-field{
    outline: 1px solid #D4D4D4;
    height: 40px;
    padding: 0 13px;
    font-size: 14px;
    line-height: 16px;
    resize: none;
    display: flex;
    align-items: center;
}
.input__item-field::placeholder{
    color: #5B5D6A;
}
.already--button{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, #FC8916 0%, #FDA736 100%), #FFFFFF;
    outline: 1px solid #FB9529;
}
.already--button:hover{
    background: none;
    cursor: pointer;
    color: #FB9529;
}
.input__item-help{
    color: #FC8613;
}
.input__item-help:hover{
    cursor: pointer;
    text-decoration: underline;
}
textarea.input__item-field{
    height: 188px;
}
.input__item-field--current{
    font-size: 14px;
    line-height: 16px;
}
.sum{
    background: white;
    position: fixed;
    right: 0;
    bottom: 110px;
    left: 0;
    padding: 12px 0;
}
.sum--wrap{
    max-width: 1115px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 336px;
    padding-right: 10px;
}
.sum__value{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sum__value-name{
    font-size: 14px;
    line-height: 16px;
}
.sum__value-price{
    font-size: 24px;
    font-weight: 700;
}
.sum__check{
    display: flex;
    align-items: center;
    gap: 30px;
}
.sum__check-personality{
    font-size: 14px;
    max-width: 290px;
}
.sum__check-link{
    color: #FB9529;
}
.sum__check-link:hover{
    cursor: pointer;
    text-decoration: underline;
}
.sum__check-button{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    background: linear-gradient(90deg, #FC8916 0%, #FDA736 100%), #FC8916;
    width: 277px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.sum__check-button:hover{
    cursor: pointer;
    background: linear-gradient(180deg, #FC8916 0%, #FDA736 100%), #FC8916;
}
.cabinet{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}
.cabinet__field{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 60px;
}
.cabinet__field-tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabinet__field-tabs--item{
    font-size: 18px;
    background: #EDEDEF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    transition: 0.2s;
}
.cabinet__field-tabs--item:hover{
    background: white;
    cursor: pointer;
}
.cabinet__field-tabs--active{
    background: white;
}
.cabinet__field-history{
    display: flex;
    flex-direction: column;
    gap: 0;
    background: white;
    padding: 40px 26px;
}
.cabinet__field-history--main, .history--flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.cabinet__field-history--desc{
    border-top: 1px solid #D4D4D4;
    position: relative;
}
.cabinet__field-history--desc:last-child{
    border-bottom: 1px solid #D4D4D4;
}
.history__main{
    font-size: 14px;
    font-weight: 700;
}
.history__desc{
    font-size: 14px;
}
.history__main:first-child, .history__desc:first-child{
    width: 27px;
}
.history__main:nth-child(2), .history__desc:nth-child(2){
    width: 145px;
}
.history__main:nth-child(3), .history__desc:nth-child(3){
    width: 100px;
}
.history__main:nth-child(4), .history__desc:nth-child(4){
    width: 200px;
}
.history__main:last-child, .history__desc:nth-child(5){
    width: 150px;
    margin-left: 200px;
}
.history__desc-open{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #EDEDEF;
    right: 0;
}
.history__desc-open--icon{
    font-size: 12px;
    height: 11px;
    color: #555863;
}
.history__desc-open:hover{
    background: #FB9529;
    cursor: pointer;
}
.history__desc-open--active{
    transform: rotate(180deg);
    background: #FB9529;
}
.history__desc-open--active > .history__desc-open--icon{
    color: white;
}
.history__desc-open:hover > .history__desc-open--icon{
    color: white;
}
.history--wrap{
    display: flex;
    flex-direction: column;
    gap: 0;
    background: #EDEDEF;
}
.history__toggle-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 92px;
    border-top: 1px solid #D4D4D4;
    padding: 0 10px;
}
.history__toggle-item:last-child{
    justify-content: flex-end;
}
.history__image{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.history__image-field{
    width: 110px;
}
.history__image-field--load{
    max-width: 110px;
    max-height: 80px;
}
.history__image-title, .history__chars-item{
    font-size: 14px;
    font-weight: 700;
}
.history__chars{
    display: flex;
    align-items: center;
    gap: 50px;
}
.history__toggle-item--button{
    font-size: 14px;
    font-weight: 700;
    color: white;
    background: linear-gradient(90deg, #FC8916 0%, #FDA736 100%), #FC8916;
    width: 134px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.history__toggle-item--button:hover{
    cursor: pointer;
    background: linear-gradient(180deg, #FC8916 0%, #FDA736 100%), #FC8916;
}
.history__toggle{
    display: none;
}
.cabinet__field-data{
    background: white;
    padding: 40px 26px;
    display: none;
    flex-direction: column;
    gap: 40px;
}
.cabinet__field-data--top{
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 40px;
}
.data__item{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.data__item-name{
    font-size: 24px;
    font-weight: 700;
}
.data__item-next{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.data__item-next--text{
    font-size: 18px;
    font-weight: 700;
}
.data__item-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.form--inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}
.data__item-next--field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.data__item-next--field--name{
    font-size: 14px;
    font-weight: 700;
}
.data__item-next--field--input{
    outline: 1px solid #D4D4D4;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}
.data__item-next--submit{
    font-size: 14px;
    font-weight: 700;
    color: white;
    background: linear-gradient(90deg, #FC8916 0%, #FDA736 100%), #FC8916;
    width: 140px;
    height: 40px;
    transition: 0.2s;
}
.data__item-next--submit:hover{
    cursor: pointer;
    background: linear-gradient(180deg, #FC8916 0%, #FDA736 100%), #FC8916;
}
#map{
    display: none;
}
.map__iframe{
    width: 100%;
}
#login{
    display: none;
    width: 500px;
}
.login__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}
.login__form-title{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}
.login__form-input{
    outline: 1px solid #D4D4D4;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
}
.login__form-reset{
    font-size: 16px;
    font-weight: 500;
    color: #FB9529;
    text-decoration: underline;
}
.login__form-reset:hover{
    cursor: pointer;
    text-decoration: none;
}
.login__form-button{
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: linear-gradient(90deg, #FC8916 0%, #FDA736 100%), #FC8916;
    height: 40px;
}
.login__form-button:hover{
    cursor: pointer;
    background: linear-gradient(180deg, #FC8916 0%, #FDA736 100%), #FC8916;
}
#registration{
    display: none;
    width: 500px;
}
#reset{
    display: none;
    width: 500px;
}
@media screen and (max-width: 1279px){
    .history__main:last-child, .history__desc:nth-child(5){
        margin-left: 0;
    }
}
@media screen and (max-width: 1250px){
    .desc__chars{
        display: none;
    }
    .cart__link-change--col{
        gap: 10px;
    }
    .cart__price{
        gap: 0;
    }
    .sum__check{
        gap: 10px;
    }
}
@media screen and (max-width: 1470px){
    .products__field-items{
        gap: 0;
        justify-content: space-between;
    }
    .products__item-buttons--click{
        width: 110px;
        padding: 10px 0;
        text-align: center;
    }
    .products__item-full--list{
        gap: 50px;
    }
    .cart__link-info{
        width: 50%;
    }
    .cart__link{
        justify-content: unset;
    }
    .cart__link-change--close{
        margin-bottom: 50px;
    }
    .cart__link-change{
        min-width: 220px;
    }
    .cart__products-item{
        gap: 0;
    }
}
@media screen and (max-width: 760px){
    .sum__check-personality{
        display: none;
    }
    .sum__check-button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
}
@media screen and (max-width: 1150px){
    .products__item-full--list{
        gap: 10px;
    }
    .products__image-field--line{
        width: 140px;
        height: 140px;
        min-width: 140px;
    }
    .products__item-info--item--line{
        flex-direction: column;
        align-items: flex-start;
    }
    .products__bots-line{
        margin-top: 130px;
    }
}
@media screen and (max-width: 550px){
    #reset,#registration,#login{
        width: 100%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1480px){
    .header__wrap{
        max-width: calc(100% - 20px);
    }
    .wrapper{
        max-width: calc(100% - 20px);
    }
    .footer--wrap{
        max-width: calc(100% - 20px);
    }
    .cart{
        max-width: calc(100% - 20px);
    }
}
@media screen and (max-width: 999px){
    body{
        background: url("../img/first_mobile_bg.webp") no-repeat center top/100%, url("../img/second_mobile_bg.webp") no-repeat center center/100%, url("../img/third_mobile_bg.webp") no-repeat center bottom/100%;
        background-color: rgba(101, 104, 115, 1);
    }
    .header__wrap{
        padding: 10px 20px;
        width: calc(100% - 40px);
    }
    .wrapper{
        margin: 100px auto;
    }
    .header__wrap-top{
        display: none;
    }
    .header__logo{
        height: inherit;
    }
    .header__logo-image{
        width: 200px;
    }
    .header__search{
        display: none;
    }
    .header__buttons{
        display: none;
    }
    .catalog{
        display: none;
        position: fixed;
        width: 100%;
        height: calc(100% - 80px);
        top: 0;
        z-index: 2;
        background: rgba(41, 45, 67, 1);
        overflow: scroll;
        padding: 35px 0 0 0;
    }
    .catalog::-webkit-scrollbar{
        width: 3px;
    }
    .catalog::-webkit-scrollbar-track{
        background: #716B69;
    }
    .catalog::-webkit-scrollbar-thumb{
        background: #FB9529;
        border-radius: 5px;
    }
    .open__pseudo-item{
        color: lightgray;
    }
    .catalog__item:hover{
        background: none;
    }
    .catalog__item-text{
        color: white;
    }
    .catalog--toggle{
        position: unset;
        transform: unset;
        padding: 15px 0 15px 35px;
        background: none;
    }
    .catalog__item-open{
        width: 100%;
        gap: 20px;
    }
    .open__item{
        line-height: 18px;
        color: white;
    }
    .catalog--flex{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .open--arrow{
        padding-left: 16px;
        color: white;
    }
    .open--arrow::before{
        transform: rotate(90deg);
        content: '';
        background: url("../img/mark.svg") no-repeat center/100%;
        position: absolute;
        top: 18px;
        left: 15px;
        width: 5px;
        height: 9px;
    }
    .burger {
        display: block;
        width: 30px;
        height: 10px;
        position: relative;
        transition-duration: 1s;
        cursor: pointer;
        z-index: 3;
    }
    .burger span {
        height: 3px;
        width: 30px;
        background-color: #FB9529;
        position: absolute;
        transition-duration: .25s;
        transition-delay: .25s;
    }
    .burger span:before {
        left: 0;
        position: absolute;
        top: -10px;
        height: 3px;
        width: 30px;
        background-color: #FB9529;
        content: "";
        transition-duration: .25s;
        transition: transform .25s, top .25s .25s;
    }
    .burger span:after {
        left: 0;
        position: absolute;
        top: 10px;
        height: 3px;
        width: 30px;
        background-color: #FB9529;
        content: "";
        transition-duration: .25s;
        transition: transform .25s, top .25s .25s;
    }
    .burger.open span {
        transition-duration: 0.1s;
        transition-delay: .25s;
        background: transparent;
    }
    .burger.open span:before {
        transition: top .25s, transform .25s .25s;
        top: 0;
        transform: rotateZ(-45deg);
    }
    .burger.open span:after {
        transition: top 0.4s, transform .25s .25s;
        top: 0;
        transform: rotateZ(45deg);
    }
    .catalog--burger {
        display: block;
        width: 30px;
        height: 10px;
        position: relative;
        top: -10px;
        left: 10px;
        transition-duration: 1s;
        cursor: pointer;
        z-index: 3;
    }
    .catalog--burger span {
        height: 3px;
        width: 30px;
        background-color: #FB9529;
        position: absolute;
        transition-duration: .25s;
        transition-delay: .25s;
    }
    .catalog--burger span:before {
        left: 0;
        position: absolute;
        top: -10px;
        height: 3px;
        width: 30px;
        background-color: #FB9529;
        content: "";
        transition-duration: .25s;
        transition: transform .25s, top .25s .25s;
    }
    .catalog--burger span:after {
        left: 0;
        position: absolute;
        top: 10px;
        height: 3px;
        width: 30px;
        background-color: #FB9529;
        content: "";
        transition-duration: .25s;
        transition: transform .25s, top .25s .25s;
    }
    .catalog--burger.open span {
        transition-duration: 0.1s;
        transition-delay: .25s;
        background: transparent;
    }
    .catalog--burger.open span:before {
        transition: top .25s, transform .25s .25s;
        top: 0;
        transform: rotateZ(-45deg);
    }
    .catalog--burger.open span:after {
        transition: top 0.4s, transform .25s .25s;
        top: 0;
        transform: rotateZ(45deg);
    }
    .header__search-icon{
        position: unset;
    }
    .mobile__search{
        display: block;
    }
    .mobile__nav{
        display: none;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(41, 45, 67, 1);
        z-index: 2;
        padding: 60px 0;
    }
    .mobile__nav-field{
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        padding: 20px 0;
        align-items: flex-start;
        width: 100%;
    }
    .mobile__nav-field > .header__nav-item{
        padding-left: 20px;
    }
    .mobile__nav-contacts{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
        padding: 0 20px;
    }
    .mobile__bot{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        left: 0;
        bottom: 0;
        width: calc(100% - 30px);
        background: rgba(21, 25, 37, 1);
        z-index: 3;
        padding: 10px 15px;
    }
    .mobile__bot-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        padding: 5px;
        transition: 0.2s;
    }
    .mobile__bot-item--image{
        width: 23px;
    }
    .mobile__bot-item:nth-child(3) > .mobile__bot-item--image{
        transform: rotate(-45deg);
    }
    .mobile__bot-item--active{
        transform: translateY(-5px);
    }
    .mobile__bot-item--active > .mobile__bot-item--icon{
        color: #FB9529;
    }
    .mobile__bot-item--active > .mobile__bot-item--text{
        color: #FB9529;
    }
    .mobile__bot-item--icon{
        font-size: 23px;
        height: 23px;
        color: white;
    }
    .mobile__bot-item--text{
        color: white;
        font-size: 12px;
        font-weight: 700;
    }
    .header__social{
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0 0 20px;
        gap: 30px;
    }
    .header__social-left{
        order: 2;
    }
    .header--contest{
        order: 1;
    }
    .header__nav > .header__nav-item:first-child{
        display: block;
    }
    .header--hidden{
        transform: translateY(-100px);
    }
    .products{
        max-width: calc(100% - 40px);
        margin: 0 auto;
    }
    .products__slider-main{
        font-size: 30px;
        line-height: 33px;
        margin-bottom: 5px;
    }
    .products__item-buttons{
        width: 100%;
    }
    .products__item-buttons--buy{
        padding: 12px 0;
        text-align: center;
        width: 100%;
    }
    .products__item-buttons--click{
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }
    .footer{
        display: none;
    }
    .products__info{
        flex-direction: column;
        padding: 20px;
        width: calc(100% - 40px);
        gap: 30px;
    }
    .products__info-text--title{
        text-align: center;
    }
    .products__pluses{
        padding: 20px;
        width: calc(100% - 40px);
    }
    .products__pluses-items{
        flex-wrap: wrap;
        gap: 11px;
    }
    .abs__image-left, .abs__image-right{
        display: none;
    }
    .header--city{
        flex-direction: column;
        align-items: flex-start;
    }
    .header__nav-city{
        width: inherit;
        margin-left: 20px;
    }
    .mobile__phone{
        font-size: 30px;
        height: inherit;
    }
    .mobile__phone-link{
        height: 30px;
        display: block;
    }
    .products__field-items{
        justify-content: center;
    }
    .product__click-item--image{
        display: none;
    }
    .product__click-title{
        display: none;
    }
    .products__click-item--name{
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 15px;
    }
    .click__price-col, .click__price-value{
        font-size: 14px;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .click__price-col{
        align-items: flex-start;
    }
    .click__price-value{
        align-items: flex-end;
    }
    .product__click-top{
        flex-direction: column;
    }
    .product__click{
        gap: 5px;
    }
    .visible__area-field{
        flex-direction: column;
    }
    .visible__area-buttons{
        flex-direction: column;
        gap: 20px;
    }
    .hidden__area-item{
        flex-direction: column;
    }
    .products__cat{
        justify-content: center;
    }
    .products__cat-item{
        width: 135px;
    }
    .filter__buttons{
        gap: 11px;
    }
    .filter__submit{
        width: 103px;
    }
    .filter__drop{
        width: 103px;
    }
    .products__filter-hidden{
        width: 100%;
    }
    .products__field-sort--buttons{
        display: none;
    }
    .sort__input-text{
        display: none;
    }
    .sort__input-field{
        width: 100%;
    }
    .products__field-sort--input{
        width: 100%;
    }
    .sort--toggle{
        width: 100%;
    }
    .desc__chars{
        display: none;
    }
    .cart__link-image{
        width: 80px;
        min-width: 80px;
        max-width: 80px;
    }
    .cart__link-image--product{
        min-height: 50px;
        height: 60px;
    }
    .cart__link{
        align-items: flex-start;
        gap: 10px;
        justify-content: unset;
    }
    .cart{
        max-width: calc(100% - 40px);
        margin: 0 auto;
    }
    .sum{
        bottom: 70px;
    }
    .sum--wrap{
        padding: 0 20px;
    }
    .cart__products-item{
        padding: 5px 0;
        flex-direction: column;
        align-items: normal;
        position: relative;
        gap: 0;
    }
    .cart__link-change--close{
        position: absolute;
        top: 5px;
        right: 0;
    }
    .cart__link-change{
        width: 100%;
    }
    .cart__link-change--col{
        width: 100%;
        justify-content: space-between;
    }
    .cart__link-info{
        gap: 0;
    }
    .desc__price{
        position: absolute;
        left: 0;
        top: 85px;
    }
    .cart__link-info--title{
        width: 80%;
        font-size: 14px;
        line-height: 16px;
    }
    .cart__products{
        padding: 10px;
    }
    .cart__title{
        text-align: center;
    }
    .cart__form{
        padding: 20px 10px;
    }
    .form__item{
        gap: 20px;
    }
    .form__item-inputs--item{
        flex-direction: column;
    }
    .cart__form-field{
        gap: 35px;
    }
}